<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355367397840-3hifghjp61i9bsd03e3506il7ljv7pof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355367397840-3hifghjp61i9bsd03e3506il7ljv7pof</string>
	<key>API_KEY</key>
	<string>AIzaSyAV4tH7xPUbwR95iMNx6F4-F7u_VWLScQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>355367397840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AMC</string>
	<key>PROJECT_ID</key>
	<string>amc-bank-c868c</string>
	<key>STORAGE_BUCKET</key>
	<string>amc-bank-c868c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355367397840:ios:cfa3d1a30f39bc1af271d5</string>
</dict>
</plist>